<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Hotel Orizzonte Niterói</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
</head>
<body>
  <header>
  <img src="{% static 'fotos/logo.jpg' %}" alt="Logo" class="logo" />
  <h1 class="title-band">O seu lugar em Niterói 💙</h1>
  <div class="subtitle">Rua Engenheiro Roberto Velasco Cardoso, 321, Gragoatá Niterói, Rio de Janeiro, Brazil</div>

  <div class="top-icons">
    <a href="https://www.instagram.com/hotelorizzonteniteroi" target="_blank" aria-label="Instagram" rel="noopener">
      <img src="{% static 'fotos/instagram.png' %}" alt="Instagram" />
    
  </div>
</header>

  <div class="links">

  <a href="https://beaconsorizzonte.github.io/infos-gerais/" target="_blank" class="link-item" rel="noopener">
    <img src="{% static 'fotos/hotel 2.jpg' %}" alt="Consulte | Horários e orientações" class="icon" />
    <span class="text">
      <span class="title">Consulte | Horários e orientações</span>
      <span class="legend">Academia - Sauna - Piscina</span>
    </span>
  </a>

  <a href="https://www.tripadvisor.com.br/Hotel_Review-g303631-d309593-Reviews-Hotel_Orizzonte-Niteroi_State_of_Rio_de_Janeiro.html" target="_blank" class="link-item" rel="noopener">
    <img src="{% static 'fotos/tripadvisor-logo-5.png' %}" alt="Já se hospedou?" class="icon" />
    <span class="text">
      <span class="title">Já se hospedou?</span>
      <span class="legend">Avalie sua estadia para que continuemos melhorando!</span>
    </span>
  </a>

  <a href="https://api.whatsapp.com/send/?phone=5521984900609&text&type=phone_number&app_absent=0" target="_blank" class="link-item" rel="noopener">
    <img src="{% static 'fotos/zap.jpg' %}" alt="Reservas | Whatsapp" class="icon" />
    <span class="text">
      <span class="title">Reservas | Whatsapp</span>
    </span>
  </a>

  <a href="https://docs.google.com/forms/d/e/1FAIpQLSfxDrf6hLQUSTo_yGskOcAnvAMJSExdgQlVV4NkSBntz6IOLw/viewform?pli=1" target="_blank" class="link-item" rel="noopener">
    <img src="{% static 'fotos/PROGRAMACAO.jpeg' %}" alt="Consulte | Canais de TV" class="icon" />
    <span class="text">
      <span class="title">Consulte | Canais de TV</span>
    </span>
  </a>

  <a href="https://mariner-bar-e-restaurante-ltda.goomer.app/menu" target="_blank" class="link-item" rel="noopener">
    <img src="{% static 'fotos/comida.jpg' %}" alt="Consulte | Cardápio" class="icon" />
    <span class="text">
      <span class="title">Consulte | Cardápio</span>
    </span>
  </a>

  <a href="https://www.letsatlantica.com.br/hotel/hotel-orizzonte-niteroi-by-atlantica#PhotosMosaic-1195334924683" target="_blank" class="link-item" rel="noopener">
    <img src="{% static 'fotos/hotel 2.jpg' %}" alt="Conheça o Orizzonte" class="icon" />
    <span class="text">
      <span class="title">Conheça o Orizzonte</span>
      <span class="legend">Veja nossas fotos - Faça sua reserva</span>
    </span>
  </a>

</div>


  <div class="video-embed">
  <div class="video-card">
    <iframe
      src="https://www.youtube.com/embed/nDa98aK3sqc"
      title="Orizzonte - 22 de agosto de 2025"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
      loading="lazy">
    </iframe>
  </div>
</div>


</body>
</html>
